

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title - My ASP.NET MVC Application</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
            @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" type="text/css" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a><img src="../images/logo.jpg" height="75" width="75" /> HomeFront</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("Friends", "Create", "Friendship")</li>
                    <li>           
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </li>
               
			</ul>
		</div>
	</div>
</div>
<div id="banner">
	@RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
                </section>
</div>
<div id="wrapper">
	<div id="page" class="container">

        @RenderSection("bottom", required: false)

		
	</div>
</div>
<div id="footer">
	<p>CSS template created by <a href="http://www.freecsstemplates.org">FreeCssTemplates.org</a>.</p>
</div>

     @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
