@model SdProject.Models.AccountModels.LoginModel

@{
    ViewBag.Title = "Log-in";
}

@*<hgroup class="title">*@
<div id="slider">
    <div class="viewer">
    <h1>@ViewBag.Title.</h1>

@*</hgroup>*@

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Log in Form</legend>
        <br />
        <ol>
            <li>
                <h3>@Html.LabelFor(m => m.UserName)</h3>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
               <h3>@Html.LabelFor(m => m.Password)</h3>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                <h3>@Html.CheckBoxFor(m => m.RememberMe)@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</h3>
            </li>
        </ol>
        <input type="submit" value="Log in" />
        </fieldset>
    <p>
       No account? @Html.ActionLink("Register", "Register") here.
    </p>
    
}

</section>

        <section class="social" id="socialLoginForm">
    <h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
