@model SdProject.Models.AccountModels.LoginModel

@{
    ViewBag.Title = "Log-in";
}

@*<hgroup class="title">*@
<div id="slider">
    <div class="viewer">
    <h1>@ViewBag.Title.</h1>

@*</hgroup>*@

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Log in Form</legend>
        <br />
        <ol>
            <li>
                <h3>@Html.LabelFor(m => m.UserName)</h3>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
               <h3>@Html.LabelFor(m => m.Password)</h3>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                <h3>@Html.CheckBoxFor(m => m.RememberMe)@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</h3>
            </li>
        </ol>
        <input type="submit" value="Log in" />
        </fieldset>
    <p>
       No account? @Html.ActionLink("Register", "Register") here.
    </p>
    
}

</section>

        <section class="social" id="socialLoginForm">
    <h3>Dont Forget</h3>
<ul>
    <li class="one">
        <h5>Upload as much pictures of your home as you want.  This is a great jumping off point to network with fellow home owners.</h5>
        <img src="Images/2.jpg" />
    </li>
</ul>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
