@using SdProject.Models
@using SdProject.Models.HouseModels
@model SdProject.Models.AccountModels.DisplayAccountModel


@{
    ViewBag.Title = "PageView";
}

<h2>Welcome, @Model.User.UserName!</h2>

<br />
<h2>
@Html.ActionLink("Add another house", "EnterInfo", "House")
 </h2>

<h3>Your Houses:</h3>
@if(Model.Houses.Count() == 0)
{
    <p>You have not yet added a home.  Click the link to add your house!</p>
    @Html.ActionLink("Add your house!", "EnterInfo", "House")
}

 @foreach(HouseDisplayModel house in Model.Houses) {
        @Html.Partial("~/Views/House/_House.cshtml", house)
        <!--temporary breaks until we figure out how we're doing the layout/-->
        <br />
        <br />
        <br />
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}