@model SdProject.Models.MessageModels.CreateMessageModel

<div id="newMessage">
    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "newMessage"})) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>New Message</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Subject)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m=> m.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MessageBody)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.MessageBody)
                @Html.ValidationMessageFor(model => model.MessageBody)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Listing", new { messageIds = new[] {1}})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
