@model SdProject.Models.MessageModels.MessageModel

@{ var message = Model.Message; }

<div>
    <div> Id: @message.Id </div>
    <div>
        <div> Author: AuthorName </div>
        @*<div> Created: @message.OEntity.History.First().EditedOn </div>
        <div>Last Modified: @message.OEntity.History.Last().EditedOn</div>*@
    </div>
    <div>
        @message.Subject
    </div>
    <div>
        @message.MessageBody
    </div>
</div>