@model SdProject.Models.HouseModels.HousePreviewModel

@if (Model.HasViewPermission) {
    <div class="previewImage">
        @*@Html.Partial("~/Views/Image/_ImageDisplay.cshtml", Model.Image)*@
    </div>
    <div class="previewDetails">
        <div class="previewAddress">
            
        <strong>@Html.Partial("~/Views/Address/_SmallAddressDisplay.cshtml", Model.Address)</strong>

 <ul>
            <li><p>Rooms: @Model.RoomCount</p></li>

            <li><p>Bedrooms: @Model.Bedrooms</p></li>

            <li><p>Bathrooms: @Model.Bathrooms</p></li>

          </ul>
        </div>
    </div>
    
    <div>
        @Ajax.ActionLink("Expand", "Display", "House", new {houseId = Model.HouseId}, new AjaxOptions() {HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = Model.UpdateTargetId}) 
    </div>
}
else {
    <div>
        This house is private.
    </div>
}
