@model SdProject.Models.HouseModels.HouseDisplayModel

@{
    ViewBag.Title = "Your House:";
}

<h2>Address: @Model.StreetAddress</h2>
<h2>City: @Model.City</h2>
<h2>Zip Code: @Model.ZipCode</h2>
<h2>Style: @Model.Style</h2>
<h2>Square Feet: @Model.FloorSpace</h2>
<h2>Room Count: @Model.RoomCount</h2>
<h2>Story Count: @Model.StoryCount</h2>
<h2>Heating Type: @Model.HeatingType</h2>
<h2>Bedrooms: @Model.Bedrooms</h2>
<h2>Bathrooms: @Model.Bathrooms</h2>
<h2>Extras: @Model.Extras</h2>

