@model SdProject.Models.HouseDisplayModel.EnterInfo

@{
    ViewBag.Title = "EnterInfo";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Tell us about your home.</h2>
</hgroup>

@using (Html.BeginForm()) {

    <fieldset>
        <legend>Enter Your Info</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.streetAddress)
                @Html.TextBoxFor(m => m.streetAddress)
            </li>
            <li>
                @Html.LabelFor(m => m.city)
                @Html.TextBoxFor(m => m.city)
            </li>
            <li>
                @Html.LabelFor(m => m.zipCode)
                @Html.TextBoxFor(m => m.zipCode)
            </li>
            <li>
                @Html.LabelFor(m => m.style)
                @Html.TextBoxFor(m => m.style)
            </li>
            <li>
                @Html.LabelFor(m => m.floorSpace)
                @Html.TextBoxFor(m => m.floorSpace)
            </li>
            <li>
                @Html.LabelFor(m => m.roomCount)
                @Html.TextBoxFor(m => m.roomCount)
            </li>
            <li>
                @Html.LabelFor(m => m.storyCount)
                @Html.TextBoxFor(m => m.storyCount)
            </li>
            <li>
                @Html.LabelFor(m => m.bedrooms)
                @Html.TextBoxFor(m => m.bedrooms)
            </li>
            <li>
                @Html.LabelFor(m => m.bathrooms)
                @Html.TextBoxFor(m => m.bathrooms)
            </li>
            <li>
                @Html.LabelFor(m => m.heatingType)
                @Html.TextBoxFor(m => m.heatingType)
            </li>
            <li>
                @Html.LabelFor(m => m.extras)
                @Html.TextAreaFor(m => m.extras, new { @cols = "25", @rows = "3" })
            </li>
            
           


        </ol>
        <input type="submit" value="Continue" />
    </fieldset>
}
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
